# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Next.js / Node
node_modules/
.next/
out/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
